/* 
  For the footer container div, we want to give some padding, 
  a blue background color, some rounding on the corners, 
  relative positioning, a set-height of 400x, white text color,
  and some padding at the top.

  Since the width is 100% it should take up the entire
  width of whatever container it is in!

  Additionally, make the display flex with space in between each flex
  item such that the left and right text contents are at the 
  ends of the divs.

*/
.Footer_Banner_Container {
  padding: 100px 40px;
  background-color: #2147f1;
  border-radius: 15px;
  position: relative;
  height: 400px;
  line-height: 1; 
  color: white;
  width: 100%;
  margin-top: 120px;

  display: flex ;
  justify-content: space-between;

  /*
    For the image, make the positioning absolute
    (relative to the container's positioning.) 
    This helps make the image appear like it is floating.
    above the banner.
  */
  img {
    position: absolute;
    /* top: -35%;
    left: 8%; */
    top: -25%; // Make image go up
    left: 25%; // Make image go to the right
  }

  // For smaller screens, make the div have a larger height, less top
  // padding, and make a gap between the items with flex-wrap as wrap.
  @media screen and (max-width:800px) {
    height: 560px;
    margin-top: 80px;

    // For original banner-description div
    flex-wrap: wrap;
    gap: 20px;

    // Change how the image looks on smaller screens.
    img {
      width: 77%;
      left: 30%;
      top: 6%;
      height: 56%
    }
  }
}

/*
  This div is a flex item and so will be resized according to the
  contents inside.

  We will make the <p> element have some margin all around.

  <h3> element (displays large text) should have more font-weight to appear
  bolder, a larger font size, and margin on the left 
*/
.left {
  p {
    margin:18px;
  }

  h3 {
    font-weight: 900;
    font-size: 80px;
    margin-left: 18px; // Match <p> padding
  }

  // For smaller screens, make the <h3> text have more weight
  // but a little smaller and with less margin-left.
  @media screen and (max-width:800px) {
    h3 {
      font-weight: 900;
      font-size: 50px;
      margin-left: 5px;
    }
  }
}

/*
  This div is a flex item and so will be resized according to the
  contents inside.

  We will make the <p> element have a set font size of 18px.

  <h3> element (displays large text) should have more font-weight to appear
  bolder, a larger font size.

  The company description text should have a set font-size of 14px and 
  more font weight to appear a little bolder.
*/
.right {
  line-height: 1.4;

  p {
    font-size: 18px;
  }

  h3 {
    font-size: 60px;
    font-weight: 800;
  }

  .company_description {
    font-size: 14px;
    font-weight: 300;
  }

  /*
    For the button, make the borders rounded and have some padding 
    to give some space between the text and the outer edges.

    We want the background to be white but the text color blue.
    The text will have a greater weight to appear bolder.

    There should be no border, a margin-top of 40px.

    Also, the cursor should be pointer if the user hovers over it.

    When the user does hover over the button, increase the size to
    make it pop out.
  */
  button {
    border-radius: 15px;
    padding: 10px 16px;
    background-color: white;
    color: blue;
    border: none;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;

    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.1, 1.1);
    }
  }

  // For smaller screens, decrease the font-size of the <h3>
  // element and provide no weight for the company description.
  @media screen and (max-width:800px) {
    h3 {
      font-size: 45px;
    }

    .company_description {
      font-size: 14px;
    }
  }

}