html,
body, * {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;

}
::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 
  For the main container which houses the page components,
  we will set a max-width for it and keep the margin as auto
  to try and make it appear centered. We will also set the
  width to 100% so that it can have the responsiveness of
  filling out larger screens or reducing itself for smaller ones.

  Essentially, it will keep all our pages centered and will
  only allow them to expand up to a width of 1400px, which is
  how we can get the white space on both sides of the screen.
*/
.main__container{
  max-width: 1400px; 
  margin: auto;
  width: 100%;

}

/*
  The layout component will be given a padding of 10px all
  around to keep the Navbar and Footer from reaching
  the edges of the div.
*/
.layout-padding{
  padding: 10px;
}

span.text-blue {
  -webkit-text-stroke: 1px blue;
  margin-left: 6px;
}

/*
  The products-container div will be styled such that all 
  the Product cards will be flex items and are able to wrap 
  around the parent and will be center justified. Additionally, 
  there will be a gap to keep the cards separated.
*/
.products-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}

// For the products heading div, have the <h2> and <p> element aligned
// in the center. Also, give some top-bottom paddings and a text color.
.products-heading{
  text-align: center;
  margin: 40px 0px;
  color: #324d67;

  // For the <h2> element of the products-heading, give a greater font
  // size and font-weight.
  h2 {
    font-size: 40px;
    font-weight: 800;
  }

  // For the <p> element of the products-heading, give a greater font
  // size and font-weight.
  p {
    font-size: 16px;
    font-weight: 200;
  }

}

.cart-wrapper{
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
  transition: all 1s ease-in-out;

}

.cart-container{
  height: 100vh;
  width: 600px;
  background-color: white;
  float: right;
  padding: 40px 10px;
  position: relative;
  
}

.cart-heading{
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.cart-heading .heading{
  margin-left: 10px;
}

.cart-num-items{
  margin-left: 10px;
  color: #f02d34;
}

.empty-cart{
  margin:40px;
  text-align:center;
}

.empty-cart h3{
  font-weight: 600;
  font-size: 20px;
}

.cancel{
  cursor: pointer;
}

.product-container{
  margin-top: 15px;
  overflow: auto;
  max-height: 70vh;
  padding: 20px 10px;
}

.product{
  display: flex;
  gap: 30px;
  padding: 20px;
}

.product .cart-product-image{
  width:180px ;
  height: 150px;
  border-radius: 15px;
  background-color: #ebebeb;
}

.item-description .flex{
  display: flex;
  justify-content: space-between;
  width: 350px;
  color: #324d67;

}

.item-description .bottom{
  margin-top: 60px;
}

.flex {
  h5 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }
  
}

.total {
  display: flex;
  justify-content: space-between;
}

.total h3{
  font-size: 22px;

}

.remove-item {
  font-size: 24px;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}

.cart-bottom{
  position: absolute;
  bottom: 12px;
  right: 5px;
width: 100%;
padding: 30px 65px;

}

.btn-container{
  width: 400px;
  margin: auto;
}

.btn{
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  margin-top: 10px;
  margin-top: 40px;
  text-transform: uppercase;
  background-color: #f02d34;
  color: #fff;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.btn:hover{
  transform: scale(1.1,1.1);
}

/*
  To style the product__detail-container, we will make the display flex such
  that the image displays and the text information appear side by side and
  positions themselves accordingly.

  We will also add some margins around the div and add gap to help make the
  flex items appear more separated.
*/
.product__detail-container{
  display: flex;
  gap: 40px;
  margin: 40px;
  margin-top: 60px;
  color: #324d67;
}

/*
  For the product__detail-image, have rounded corners and a gray-ish
  background color while also making it a set height and width. 
  The cursor should also be a pointer and the transitions should
  be 0.3s in duration.
*/
.product__detail-image{
  border-radius: 15px;
  background-color: #ebebeb;

  width: 400px;
  height: 400px;
  cursor: pointer;
  transition: .3s ease-in-out;

  // When the image is being hovered over, make the background
  // of the div blue.
  &:hover{
    background-color: blue;
  }
}

// The small__images-container will have its children as flex items,
// and they will have a gap of 10px in order to separate them.
.small__images-container{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

// Each small image will be about 70px in width and height.
// The pointer will also be a cursor when it is being hovered over.
.small-image{
  border-radius: 8px;
  background-color: #ebebeb;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

// If the small image is the main one being displayed, make
// its background blue.
.selected-image{
  background-color:blue;
}

/* 
  For the reviews, make the color of the star icons blue.
  Additionally, make the display flex with the children items
  aligned in the center of the div.
*/
.reviews{
  color: blue;
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;

  // Make the <p> text color a blueish gray
  p {
    color: #324d67;
    margin-top: 0px;
  }
}

/*
  To style the product__detail-description container. we will
  make the <h4> and <p> tags have some extra margin. Also,
  for the price, we want to make the text bolder and larger
  with higher font-weight and font-size.
*/
.product__detail-description {
  h4, p {
    margin-top: 10px;
  }

  .price {
    font-weight: 700;
    font-size: 26px;
    margin-top: 30px;
    color: blue;

    .old-price, .product-price .old-price, .price .old-price{
      color: gray;
      text-decoration: line-through;
    }
  }

  /*
    For the quantity section of the product__detail-description, we want to display
    the items in flex such that <h3> and <p> elements are in a row.

    For the quantity__description, we the <p> element to have a solid border
    and some padding to make it appear as if there are separate boxes
    to increase and decrease the item quantity.
  */
  .quantity {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    align-items: center;

    .quantity__description {
      border: 1px solid gray;
      padding: 6px;

      span {
        font-size: 16px;
        padding: 6px 12px;
        cursor: pointer;
      }

      .minus {
        // To make it seem as if there is a border
        border-right: 1px solid gray;
        color: red;
      }

      .num {
        // To make it seem as if there is a border
        border-right: 1px solid gray;
        font-size: 20px;
      }

      .plus {
        color: rgb(49, 168, 49);
      
      }

    }
    
  }
 
}

// For the container with the buttons, we want to display the buttons using
// flex and to have a gap so they appear more separated.
.product__detail-description .buttons{
  display: flex;
  gap: 30px;

  /*
    For the .add-to-cart button, we will style it by giving some padding
    to have the text not touch the border of the button.

    We also want more font size and font weight and a set width. 

    If the user hovers over the button, it should increase in size subtly.
  */
  .add-to-cart {
    padding: 10px 20px;
    border: 1px solid blue ;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    background-color: white;
    color: blue;
    cursor: pointer;
    width: 200px;
    transition: all 0.5s ease;

    &:hover{
      transform: scale(1.1,1.1)
    }
  }

  // We will style the buy-now button similar to the add-to-cart button.
  .buy-now{
    width: 200px;
  
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover{
      transform:scale(1.1,1.1)
    }
    
  }
}

// Style the maylike-products-wrapper by giving some margin at the top
// and changing the styling of the h2 element.
.maylike-products-wrapper{
  margin-top: 120px;

  h2 {
    text-align: center;
    margin: 50px;
    color: #324d67;
  
    font-size: 28px;
  }

}

/*
  For the may-like-products container, have the component be a flex display
  with all the items center justified. Also, have a gap so the items appear
  somewhat separated from each other.
*/
.maylike-products-container{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.max-qty{
  font-weight: 500;
  color: #f02d34;
}

.success-wrapper, .cancel-wrapper{
  background-color: white;
  min-height: 60vh;

}

.success, .cancel{
  width: 1000px;
  margin: auto;
  margin-top: 160px;
  background-color: #dcdcdc;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success .icon {
   color: green;
   font-size: 40px;
}

.success h2{
  text-transform: capitalize;
  margin-top: 15px 0px;
  font-weight: 900;
  font-size: 40px;
  color:#324d67;
}

.success .email-msg{
   font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.cancel p{
  font-size: 20px;
  font-weight: 600;
}

.success .description{
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  margin-top: 30px;
}

.success .description .email{
  margin-left: 5px;
  color: #f02d34;
}

.product-max-qty{
  margin-top: 10px;
}

@media screen and (max-width:800px) {

  .product__detail-container {
    flex-wrap: wrap;
    margin: 20px;

    .product__detail-image {
      width: 350px;
      height: 350px;
    }
  }

  .cart-container {
    width: 415px;
    padding: 4px;
  }

  .cart-heading {
    margin-top: 35px;
  }

  .product-container {
    margin-top: 10px;
  }

  .product{
    padding: 20px 5px;

    .cart-product-image {
      width: 25%;
      height: 25%;
    }
  }


  .buttons {
    .add-to-cart {
      width: 150px;
    }

    .buy-now {
      width: 150px;
    }
  } 

  .item-description {
    .flex {
      width: 200px;
    }

    .bottom {
      margin-top: 30px;
    }
  }
    

  .top {
    flex-wrap: wrap;
    gap: 10px;
  }

  .flex {
    h5 {
      font-size: 16px;
      color: #324d67;
    }

    h4{
      font-size: 16px;
      color: black;
    }
  }
 
  .cart-bottom{
    padding: 30px;
  }

  .total h3{
    font-size: 20px;
  }

  .success-wrapper, .cancel-wrapper{
    min-height: 69vh;
  }

  .success, .cancel {
    width: 370px;
    margin-top: 100px;
    padding: 20px;
  }

  .success{
    height: 350px;

    h2 {
      font-size: 17px;
    }
  }
  
  .btn-container{
    width: 300px;
    margin: auto;
  }
}